* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.logo {
    display: flex;
    background-color: #464747;
    width: 30%;
    height: 100%;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.navbar-span {
    display: flex;
    padding: 20px;
    font-family: Averta;
    font-size: 18px;
    font-style: normal;
    font-weight: 600px;
}
.navbar-span:hover {
    cursor: pointer;
    text-decoration: underline;
    font-family: Averta;
    font-weight: bold;
}
.searchbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.input-search {
    border-radius: 8px;
    width: auto;
    height: 40px;
}
.search-button {
    padding: 5px;
    border-radius: 8px;
    width: auto;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    background-color: #0c0c0c;
}
.search-button:hover {
    cursor: pointer;
    background-color: rgb(76, 81, 82);
    color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}


.categories-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 70px;
    margin-top: 50px;
    padding: 0px 400px;

}
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    margin: 0px 50px 80px 50px;
}
.category-img {
    background-color: yellowgreen;
    width: 150px;
    height: 150px;
}
.category-span {
    display: flex;
    position: absolute;
}


h2 {
    display: block;
    margin-top: -50px;
    margin-bottom: 70px;
    text-align: center;
    font-family: Averta;
    font-size: 40px;
    color: rgb(212, 138, 196);
}
.components-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}
.component {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background-color: bisque;
}
.component-img {
    background-color: aqua;
    width: 200px;
    height: 100px;
    border-radius: 20px;
}
.component-span {
    width: 200px;
    height: 30px;
    padding: 3px 0px 0px 15px;
    font-size: 16px;
}
.price-span {
    width: 200px;
    height: 20px;
    padding: 0px 0px 0px 15px;
    font-size: 14px;
}



.pros {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pros-span {
    margin-bottom: 30px;
    font-family: Averta;
    color: rgb(69, 51, 228);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.pros-span-happy {
    margin-bottom: 40px;
    color: #464747;
    text-align: center;
    font-family: Averta;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}
.pros-div {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 200px;
    border-radius: 24px;
    opacity: 0.5;
    background-color: #E0E4FC;
}
.pros-item {  
    display: flex;
    flex-direction: column;
    padding: 55px; 
    width: 33%;
    justify-content: space-between;

}
.img-icon {
    background-color: blue;
    width: 50px;
    height: 50px;
}
.pros-item-header {
    color: #0d0d0e;
    font-family: Averta;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.pros-item-body {
    color: #1D2130;
    font-family: Averta;
}


footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 40px 40px 0px 40px;
    margin-top: 50px;
    background-color: #1D2130;
}
.subscribe {
    margin-top: -20px;
}
.subs-header {
    margin-left: 10px;
    color: #c7c4c4;
}
.mail-input {
    border-radius: 8px;
    width: 200px;
    height: 40px;
    border: 2px solid #0d0d0e;
}
/* button {
    margin: 0;
    border-radius: 8px;
    width: auto;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    background-color: #0c0c0c;
}
button:hover {
    cursor: pointer;
    background-color: rgb(76, 81, 82);
    color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
} */
.details {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.footer-div {
    display: flex;
    flex-direction: column;
}
.footer-span-head {
    color: #c7c4c4;
    font-family: Averta;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 5px;
}
.footer-span {
    color: #aaa3a3;
    font-family: Averta;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.year {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: #f8f3f3;
    font-family: Averta;
    font-size: 14px;
    font-style: normal;
    font-weight: 400
}
