.components-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 70px;
    gap: 50px;
    padding: 0% 10%;
}
.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 200px;
    gap: 6px;
    border-radius: 20px 20px 5px 5px;
    background-color: #f3f3f7;
}
.component:hover {
    cursor: pointer;
    width: 198px;
}
.component-img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
}
.component-img:hover {
    width: 204px;
}
.component-span {
    width: 150px;
    height: 30px;
    font-size: 14px;
    color: #1d2130;
    font-family: Averta;
}
.price-span {
    font-family: Averta;
    width: 150px;
    height: 20px;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    color: #1d2130;
}